<a href="javascript:history.back()">Back...</a>
<br>
<br>
<ol>
    <% @players.each do |player| %>
        <li style="color: white"><%= player.full_name %></li>
    <% end %>
</ol>
<a href="javascript:history.back()">Back...</a>
