.current-matches {
  padding: 15px;
  background-color: black;

  p {
    font-size: 16px;
    padding: 10px 0px 0px 20px;
  }

  .header {
    .logo {
      background: image-url('mezz_west_logo.png') no-repeat left center;
      width: 400px;
      height: 150px;
      padding-left: 170px;
      padding-top: 45px;
      margin-bottom: 15px;
      font-size: 40px;
      color: white;
    }

    .title-sponsor {
      height: 115px;
      text-align: center;
      float: right;

      img.mezz {
        padding: 35px 15px;
      }

      img.west-state-billiard-supply {
        padding: 50px 20px;
      }
    }
  }

  .matches {
    background-color: white;
    border-top: 10px solid rgba(242, 186, 53, 1);

    .match {
      background: image-url('table.png') no-repeat left center;
      width: 254px;
      height: 127px;
      padding: 20px;
      margin: 0px 10px 10px 10px;
      color: white;

      table {
        width: 100%;
      }

      .table-number {
        font-size: 14px;
        padding-bottom: 5px;
        text-align: center;
      }

      .player-name {
        font-size: 20px;
        text-align: left;
      }

      .player-score {
        font-size: 20px;
        text-align: right;
      }
    }
  }

  .no-matches {
    background-color: white;
    border-top: 10px solid rgba(242, 186, 53, 1);
    font-size: 40px;
    padding-left: 15px;
  }

  .sponsors {
    border-top: 10px solid rgba(242, 186, 53, 1);

    .sponsor {
      height: 115px;
      text-align: center;
      padding: 25px 15px;
    }
  }
}