.current-matches {
  background-color: #22262B;

  .title {
      font-size: 20px;
      color: #d5d9dd;
      display: inline;

      .logo {
          padding: 10px;
          height: 120px;
      }
  }

  .title-sponsors {
      display: inline;

      .mezz,
      .west-state-billiard-supply {
          padding: 35px 10px 0px 10px;
      }
  }

  p {
    font-size: 14px;
  }

  .matches {
    padding: 10px;
    background-color: white;

    .match {
      display: inline-block;;
      background: image-url('table.png') no-repeat left center;
      width: 220px;
      height: 110px;
      padding: 20px 20px;
      color: whitesmoke;

      table {
        width: 100%;
      }

      .table-number {
        font-size: 12px;
        padding-bottom: 3px;
        text-align: center;
      }

      .player-name {
        font-size: 16px;
        text-align: left;
      }

      .player-score {
        font-size: 16px;
        text-align: right;
      }
    }
  }

  .no-matches {
    background-color: white;
    font-size: 20px;
    padding: 10px;
  }

  .sponsors {
      padding: 10px;
      width: 100%;
  }
}
