#tournament {
    svg {
        background: #22262B;
        padding: 15px;
    }

    rect {
        fill: #292E34;
        stroke: #393F47;
        stroke-width: 1px;
    }

    text {
        &.name {
            &.pro {
                fill: #15C0F4;
            }

            &.semi-pro {
                fill: #5CB85C;
            }

            fill: #d5d9dd;
        }

        &.score {
            fill: #d5d9dd;
        }

        &.number {
            font-size: 10px;
            fill: #888;
        }

        &.position {
            fill: #888;
        }
    }

    polyline {
        fill: none;
        stroke: #393F47;
        stroke-width: 1px;

        &.arrow {
            stroke-width: 2px;
        }
    }
}
